<!DOCTYPE html>
<html lang="en">

<head>
  <title>LyDuc</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="40x40" href="/dist/css/favicon/ic_logo40x40.png">
  <!-- Global stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/icons/icomoon/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/icons/fontawesome/styles.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/core.css?t=55">
  <link rel="stylesheet" type="text/css" href="/css/components.css">
  <link rel="stylesheet" type="text/css" href="/css/colors.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css?t=55">
  <!-- Core JS files -->
  <script type="text/javascript" src="/js/plugins/loaders/pace.min.js"></script>
  <script type="text/javascript" src="/js/core/libraries/jquery.min.js"></script>
  <script type="text/javascript" src="/js/core/libraries/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/plugins/loaders/blockui.min.js"></script>
  <script type="text/javascript" src="/js/plugins/ui/drilldown.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/selects/bootstrap_select.min.js"></script>

  <!-- <script type="text/javascript" src="/js/plugins/editors/summernote/summernote.min.js"></script> -->

  <!-- Theme JS files -->
  <script type="text/javascript" src="/js/core/app.js"></script>

</head>

<body class="login-container">

  <div id="widgets-dashboard-container">
  </div>
  <div class="register-mask">
    <div class="tableS">
      <div class="tableCellS"><img src="/images/loading.svg" style="width: 70px;"></div>
    </div>
  </div>

</body>
<script src="/build/js/template-build.js?t=47"></script>

</html>