<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forgot password</title>
</head>
<body>
<div class="wrapper" style="background:#f3f3f3;padding: 15px 0;">
    <div class="page-wrap" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size:13px;color:#242a33;width: 631px;margin:0 auto;font-weight: normal;">
        <div class="header" style="background:#ffffff;height: 70px;text-align: center;border-bottom: 2px solid #1f8ceb;padding: 10px;">
            <img src="http://ruhu.sg/images/new/ruhu-logo.png" alt="" style="margin: 10px 0px 0 10px;">
        </div>
        <div class="main-content" style="background:#fff;padding:20px;font-size:14px;">
            <ul style="list-style:none;margin:0;padding:0;">
                <li style="font-weight:bold;margin-bottom:15px;">Chào <span style="color:#4585f3;"> <%= email %>,</span></span></li>
                <li style="margin-bottom:15px;">Đây là email xác nhận yêu cầu lấy lại mật khẩu của bạn.</li>
                <li style="margin-bottom:15px;">Để lấy lại mật khẩu, bạn hãy nhấp vào button bên dưới :</li>
				<li style="margin-bottom:15px;">
					<a href='<%= link %>' style="text-decoration:none;">
						<button style="width: 320px;height: 41px;background-color: #57abf4;border: none;border-radius: 3px;color: #fff;font-size: 17px;font-weight: bold;display: block;cursor: pointer;">
                            Đổi mật khẩu
						</button>
					</a>
                </li>
                <li style="margin-bottom:10px;">Hoặc nhấn vào link dưới</li>
                <li style="margin-bottom:15px;"><a href='<%= link %>'><%= link %></a></li>
		   </ul>
        </div>
    </div>
</div>
</body>
</html>