@font-face {
	font-family: Roboto-Regular;
	src: font('Roboto-Regular.ttf');
}
@font-face {
	font-family: Roboto-Italic;
	src: font('Roboto-Italic.ttf');
}
@font-face {
	font-family: Roboto-Medium;
	src: font('Roboto-Medium.ttf');
}
@font-face {
	font-family: Roboto-MediumItalic;
	src: font('Roboto-MediumItalic.ttf');
}
@font-face {
	font-family: Roboto-Bold;
	src: font('Roboto-Bold.ttf');
} 
@font-face {
	font-family: Roboto-Italic;
	src: font('Roboto-Italic.ttf');
}
@font-face {
	font-family: Roboto-Light;
	src: font('Roboto-Light.ttf');
}
@font-face {
	font-family: RobotoCondensed-Bold;
	src: font('RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: RobotoCondensed-Italic;
	src: font('RobotoCondensed-Italic.ttf');
}
@font-face {
	font-family: RobotoCondensed-Italic;
	src: font('RobotoCondensed-Italic.ttf');
}
@font-face {
	font-family: RobotoCondensed-Regular;
	src: font('RobotoCondensed-Regular.ttf');
}
.font11 {font-size: 11px;line-height: 13px;}
.font16 {font-size: 16px;line-height: 19px;}
.font18 {font-size: 18px;line-height: 21px;}
.font20 {font-size: 20px;line-height: 23px;}
.font22 {font-size: 22px;line-height: 25px;}
.font24 {font-size: 24px;line-height: 28px;}
.font26 {font-size: 26px;line-height: 30px;}
.font30 {font-size: 30px;}
.font36 {font-size: 36px;line-height: 42px;}
.font42 {font-size: 42px;line-height: 49px;}
.font48 {font-size: 48px;line-height: 56px;}
.font64 {font-size: 64px;line-height: 75px;}
.font-RobotoCondensed-Italic {font-family: RobotoCondensed-Italic;}
.font-RobotoCondensed-Bold {font-family: RobotoCondensed-Bold;}
.font-RobotoCondensed-Regular {font-family: RobotoCondensed-Regular;}
.font-Roboto-Bold {font-family: Roboto-Bold;}
.font-Roboto-Light {font-family: Roboto-Light;}
.font-Roboto-Medium {font-family: Roboto-Medium;}
.font-Roboto-Italic {font-family: Roboto-Italic;}
