.h-desktop {
	height: 56px;position: fixed;top: 0;left: 0;right: 0;z-index: 69;
	.logo {
		float: left;margin: 8px 0 0 0;
		img {height: 40px;}
	}
	.menu {
		float: right;
		ul.ul-menu {
			margin: 0 0;padding: 0 0;
			> li {
				float: left;position: relative;
				> a {
					color: #fff;font-family: Roboto-Bold;font-size: 16px;text-transform: uppercase;position: relative;padding: 17px 0;display: block;margin: 0 14px;
					&:hover {color: #EB5757;}
				}
				ul {
					display: none;list-style: none;width: 223px; position: absolute;top: 56px;right: -10px;z-index: 69; background: #fff;padding: 12px 11px;border-radius: 4px;box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
					&:before {content: '';position: absolute;top: -8px;right: 30px;width: 15px;height: 15px;background: #fff;transform: rotate(45deg);}
					> li {
						> a {
							color: #333;font-size: 16px;font-family: Roboto-Medium;padding: 7px 0;display: block;
							&:hover {color: #EB5757;}
						}
					}
				}
				&.has-child {
					> a {
						margin: 0 23px;
						&:before {content:'';position: absolute;right: -20px;top: 50%;transform: translate(0px, -50%);width: 10px;height: 5px;border-style: solid;border-width: 5px 5px 0 5px;border-color: rgba(255,255,255,0.54) transparent transparent transparent;transition: all 0.3s;}
					}
					&:hover {
						a:before {border-color: #EB5757 transparent transparent transparent;}
					}
				}
				&.user {
					margin: 0 0 0 14px;
					> a {padding: 14px 0;margin: 0 0 0 14px;}
					> ul {
						right: 0;
						&:before {top: -6px;right: 5px;}
						> li {
							> a {
								display: block;text-align: center;height: 38px;line-height: 23px;border: 2px solid #27AE60;font-family: Roboto-Bold;font-size: 14px;color: #27AE60;margin-bottom: 8px;text-transform: uppercase;
								&:hover {background: #27AE60;color: #fff;}
							}
						}
					}
				}
				&:hover {
					> ul {display: block;}
				}
			}
		}
	}
	@include xs {
		display: none;
	}
	@include sm {
		height: 100px;
		.logo {float: none;text-align: center;}
		.menu {float: none;}
		.menu ul.ul-menu > li > a {font-size: 13px;margin: 0 13px;}
		.menu ul.ul-menu > li.has-child > a {margin: 0 13px;}
		.menu ul.ul-menu > li.has-child > a:before {right: -11px;}
	}
	@include md {
		.menu ul.ul-menu > li > a {font-size: 14px;margin: 0 13px;padding: 18px 0;}
		.menu ul.ul-menu > li.has-child > a {margin: 0 13px;}
		.menu ul.ul-menu > li.has-child > a:before {right: -11px;}
	}
}
.h-mobile {
	display: none;position: fixed;top: 0;left: 0;right: 0;z-index: 69;
	.header-top {
		padding: 8px 0;margin: 0 0;border: none;border-radius: 0;
		.navbar-brand {
			height: auto;padding: 0 0 0 15px;
			img {height: 40px;}
		}
		.navbar-toggle {
			margin: 4px 15px 0 0;border-color: transparent;
			.icon-bar {background: #fff;}
		}
		.navbar-collapse {margin-top: 15px;}
		.menu {
			margin: 7px 0 0 0;padding: 0 0;
			li {
				a {
				 	color: #fff;padding: 5px 0;position: relative;
				 	.caret {position: absolute;top: 13px;right: 0;}
				 	&:hover {color: #EB5757;}
				}
				ul {
					padding: 5px 10px;
					li {
						a {
							color: #fff !important;
							&:hover {color: #EB5757 !important;}
						}
					}
				}
			}
		}
	}
	@include xs {
		display: block;
	}
}























